# Template env file for the mariadb service
# This is a dummy file to show the structure of the real env file
# Do NOT save confidential information here
# (This is a note for me cause i know i'm a dumbass)
# 
# again...
# 
# Important -> ***DO NOT SAVE CONFIDENTIAL INFORMATION HERE*** <- Important

MYSQL_ROOT_PASSWORD = 'CONFIDENTIAL'
MYSQL_USER = 'CONFIDENTIAL'
MYSQL_PASSWORD = 'CONFIDENTIAL'
MYSQL_DATABASE = 'fribblequibble_db'
